body {
    background-color: #B0E1E5;
    text-align: center;
}

header {
    background-color: rgb(137, 175, 179);
    text-align: center;
    padding: 10px;
   
}

h1 {
    color: lemonchiffon;
    text-align: center;
}

header li {
    display: inline;
    text-align: justify;
    font-weight: bold;
    color: lemonchiffon;
    padding: 15px;
}

nav {
    display: block;
    text-align: center;
}

#welcome_message {
    text-align: center;
}

#favorites {
    text-align: center;
}

#restaurants li {
    text-align: center;
    display: inline;
}

#restaurants2 li {
    text-align: center;
    display: inline;
}

footer {
    background-color: rgb(137, 175, 179);
    text-align: center;
    padding: 40px;
}

footer li {
    display: inline;
    padding: 15px;
    margin: 10px;
}



